.about-section,
.education-section {
  display: grid;
  justify-content: center;
  color: #fff;
  width: auto;
  margin: 0;
  padding: 40px;
  text-align: start;
}

.img-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-profile .main-logo {
  pointer-events: none;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ccc;
  object-fit: cover;
  margin-bottom: 60px;
}

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-skills,
.card-about,
.card-education {
  background-color: #282c34;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #282c34;
  max-width: 800px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-section h1,
.education-section h1 {
  font-size: 24px;
  color: #61dafb;
}

.about-section p,
.education-section p {
  margin-top: 20px;
  font-size: 16px;
}

.education-section h4 {
  margin-top: 20px;
  font-size: 20px;
}

.education-section ul {
  list-style: none;
  padding: 0;
}

.education-section li {
  margin-top: 10px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .card-skills,
  .card-about,
  .card-education {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .img-profile .main-logo {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }

  .about-section,
  .education-section {
    margin: 0;
    padding: 20px;
  }

  .about-section h1,
  .education-section h1 {
    font-size: 20px;
  }

  .about-section p,
  .education-section p {
    font-size: 14px;
  }

  .education-section h4 {
    font-size: 18px;
  }

  .education-section li {
    font-size: 14px;
  }
}
