.exp-content {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0;
  padding: 40px;
}

.intern-section {
  background-color: #282c34;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid 2px #282c34;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: start;
}

.img-logo {
  display: flex;
  justify-content: center;
}

.img-logo img {
  max-width: 50%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 15rem;
  border: solid 2px #50b955;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.intern-section h1 {
  font-size: 24px;
  color: #61dafb;
}

.intern-section h4 {
  margin-top: 20px;
  font-size: 20px;
}

.intern-section p {
  margin-top: 20px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .exp-content {
    padding: 20px;
    max-width: 100%;
  }

  .intern-section {
    padding: 20px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .intern-section h1 {
    font-size: 20px;
  }

  .intern-section h4 {
    font-size: 18px;
  }

  .intern-section p {
    font-size: 14px;
  }

  .img-logo img {
    max-width: 80%;
  }
}
