.footer-content {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0; 
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

