.footer-content {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.github-icon{
  height: 30px;
  width: 30px;
  color: #fff;
}

.github-icon:hover {
  transform: scale(1.2); 
  color: #61dafb;
}