.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #3c3836;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  max-width: 80%;
  color: #ebdbb2;
  text-align: start;
}

.modal-content h2 {
  color: #fe8019;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
}

.modal-address,
.modal-phone,
.modal-email {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  align-items: center;
  font-weight: bold;
  color: #fe8019;
}

.modal-address p,
.modal-phone p,
.modal-email p {
  margin-left: 5px;
}

.modal-content h2 {
  margin: 20px 0;
}

.modal-close {
  background: none;
  border: none;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-overlay {
    justify-content: center;
  }

  .modal-content {
    max-width: 80%;
  }

  .modal-content p {
    font-size: 16px;
  }

  .modal-close {
    top: 10px;
    right: 10px;
  }
}
