.navbar {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a:hover {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}

@media screen and (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .nav-links li {
    margin: 10px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .logo {
    font-size: 20px;
  }
}
