.project-container{
  margin: 0;
  padding: 40px;
}

.project-section,
.workspace-section {
  display: flex;
  justify-content: center;
  color: #fff;
}

.workspace-section {
  margin-bottom: 60px;
}

.card-project,
.card-workspace {
  background-color: #282c34;
  color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid 2px #282c34;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.pic1-div,
.workspace-div {
  display: grid;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.card-project h1,
.card-workspace h1 {
  color: #61dafb;
  margin-bottom: 20px;
}

.card-project h2,
.card-workspace h2 {
  color: #61dafb;
}

.card-project h4,
.card-workspace h4 {
  margin-top: 20px;
}

.miweater-div {
  position: relative;
  display: inline-block;
}

.pic1-div img,
.workspace-div img {
  max-width: 710px;
  max-height: 500px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: 1s ease;
  display: block;
}

.workspace-div img:hover {
  filter: blur(5px);
  transition: 1s ease;
}

.miweater-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: 0.6s ease;
}

.workspace-div:hover .miweater-overlay {
  opacity: 1;
  transition: 0.6s ease;
}

@media (max-width: 768px) {
  .project-container{
    margin: 0;
    padding: 20px;
  }

  .card-project,
  .card-workspace {
    padding: 10px;
    font-size: 14px;
  }

  .pic1-div img,
  .workspace-div img {
    max-width: 100%;
    max-height: auto;
  }
  
}
